@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
}


body {
  /* background-color: #030014; */
  background-color: #10151D;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

:root {
  --body-color: #010c15;
  --text-color: #7e8294;
  --hover-color: #ebd9ff;
  --accent-color: #A87FFB;
  --underline-thickness: 2px;

  color-scheme: dark;
}


/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 4px; /* Change this value to adjust the width */
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* navbar hover effect */
nav {
  margin: 0;
  padding: 0;
  display: flex;

  & a {
    /* color: var(--text-color); */
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;


    &::before {
      content: "";
      scale: 0 1;
      position: absolute;
      background: var(--accent-color);
      transition: 0.3s, translate 0s 0.3s;
      inset: calc(100% - var(--underline-thickness)) 0 0 0;
    }

    &:hover {
      color: var(--hover-color);

      &::before {
        translate: 0;
        transition: 0.3s;
      }
    }
  }

  &:hover {
    & a::before {
      scale: 1;
    }

    & a:has(~ a:hover)::before {
      translate: 100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }

    & a:hover ~ a::before {
      translate: -100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
  }
}

.translate-x-full-plus-40 {
  transform: translateX(calc(100% + 40px));
}

/* background: linear-gradient(61deg, #217BFE 0.0%, #078EFB 27.0%, #A190FF 78.0%, #BD99FE 100.0%); */
  /* border-color: linear-gradient(320deg, #2E64DE -17.73%, #3C8FE3 50.43%); */
/* background-color: #060606; */

body {
  background: linear-gradient(180deg, #141620 0%, #0A0B0D 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
